<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>Listado de Clientes</h2>
        </div>
        <div class="col-lg-4" style="text-align: right;">
            <button mat-raised-button color="primary" routerLink="/clientes/addC"> AGREGAR</button>
        </div>
        <div class="col-lg-4" style="text-align: right;">
            <button mat-raised-button color="primary" routerLink="/landing-page"> Regresar</button>
        </div>
    </div>
</div>
<mat-form-field>
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="filter($event)" placeholder="Ubicacion" #input autocomplete="off">
</mat-form-field>

<table mat-table [dataSource]=" dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombreCompleto</th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefono</th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="sexo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sexo </th>
        <td mat-cell *matCellDef="let element"> {{element.sexo}} </td>
    </ng-container>
    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>
    <ng-container matColumnDef="direccion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion </th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaNacimiento">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> fechaNacimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaNacimiento | date:'dd/MM/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fechaRegistro</th>
        <td mat-cell *matCellDef="let element"> {{element.fechaRegistro | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones1">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" [routerLink]="['editC',element.id]">Actualizar</button>
        </td>
    </ng-container>
    <ng-container matColumnDef="acciones2">
        <th mat-header-cell [hidden]="role=='USER'" *matHeaderCellDef> Acciones </th>
        <td mat-cell [hidden]="role=='USER'" *matCellDef="let element">
            <button mat-raised-button color="accent" (click)="confirm(element.id)"><span class="material-icons"
                    style="color:#E15639;">delete</span></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
</mat-paginator>