button{
    padding-top: 50px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    background-color:#2063ab ;
    font-family: 'Bai Jamjuree', sans-serif;
    color:#FFFFFF;
    margin: 50px;
}
 .full-width{
     width: 100%;
  }