<div class="container" id="nose">
    <div class="row">
        <div class="col-lg-12">
            <header>
                <div class="header-content">
                    <div id="titulo">
                        <h1 style="text-align:left; margin-top:40px;margin-left:30px;">Solicitud Enviada</h1>
                    </div>
                </div>
            </header>
            <br>
            <br>
            <br>
            <br>

            <p class="text" style="padding-left: 30px; padding-right: 100px;">
                Su solicitud a sido enviada exitosamente a:
            </p>


            <section class="workerinfo">
                <div class="row">
                    <div class="col-lg-12 col-md-2 col-sm-12">
                        <img src="assets/images/Carpintero.jpg" style="padding-left:30px">
                    </div>
                </div>
            </section>

            <div class="row" style="  padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-12 col-md-3 col-sm-12">
                    <p class="text">
                        Estado: Pendiente de cotización
                    </p>
                </div>
            </div>

            <div class="row" style="padding-left: 30px; padding-right: 30px;">
                <div class="col-lg-12 col-md-3 col-sm-12">
                    <p class="text">
                        Puede revisar el estado de sus solicitudes en Mis Solicitudes Pendientes
                    </p>
                </div>
            </div>



            <button routerLink="/cotizar">Mis
                Solicitudes Pendientes</button>

        </div>
    </div>

</div>