<div class="con">
    <div class="row">
        <mat-toolbar color="primary" *ngIf="verificar()">
            <button id="bu" class="d-flex justify-content-center align-items-center mx-2" mat-menu-item
                class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="validarRol()"
                routerLink="/clientes">
                clientes
            </button>
            <button class="d-flex justify-content-center align-items-center mx-2" mat-menu-item class="example-icon"
                aria-label="Example icon-button with menu icon" *ngIf="role=='USER'" routerLink="/ListaTrabajadores">
                Trabajadores
            </button>
            <button class="d-flex justify-content-center align-items-center mx-2" mat-menu-item class="example-icon"
                aria-label="Example icon-button with menu icon" *ngIf="role=='ADMIN'" routerLink="/trabajadores/add">
                Agregar Trabajador
            </button>
            <button class="d-flex justify-content-center align-items-center mx-2" mat-menu-item class="example-icon"
                aria-label="Example icon-button with menu icon" *ngIf="role=='ADMIN'"
                routerLink="/reportes/soli-count-trabajador">
                Trabajador con la mayor cantidad de solicitud
            </button>

            <button class="d-flex justify-content-center align-items-center mx-2" mat-menu-item class="example-icon"
                aria-label="Example icon-button with menu icon" routerLink="/login" (click)="cerrar()">
                <mat-icon>logout</mat-icon>

            </button>
            <span class="example-spacer"></span>
        </mat-toolbar>
    </div>

</div>

<router-outlet></router-outlet>