.bod
{
   display:flex;
   justify-content: center;
   align-items: center;
    background-image: url('./../../../../src/assets/images/fondito.avif');
    background-size: cover;
    height: 1000px;
    position: relative;
}
.login
{
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.ancho
{
  width: 80%;
}
button{
  height: 40px;
  width: 150px;
  border-radius: 5px;
  background-color: #2063ab;
  color: white;
 
}

.spinner{
  margin: 0 auto;
}