<div class="container-fluid">
    <div class="col-md-12">
        <a href="index.html"><img src="assets/images/quetrabajo_logo.png" alt="Logo" width="300" height="150"
                style="margin-bottom:20px"></a>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary" href="user_register.html" type="button" style="width:300px; margin-block-end: 1%"
            routerLink="/clientes/addC">Soy
            un cliente</a>
    </div>
    <div class="col-md-12">
        <a class="btn btn-primary " href="worker_register.html" type="button" style="width:300px; margin-block-end: 1%"
            routerLink="/trabajadores/add">Soy un trabajador</a>
    </div>

    <div class="col-md-12">
        <a class="link" routerLink="/listaTra">Los mejores Trabajadores</a>
    </div>


    <div class="col-md-12">
        <p class="text">
            <br>¿Estás registrado?<br>
            <a class="link" routerLink="/login">Inicia Sesión</a>
        </p>
    </div>
</div>